<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/vehicles">Vehicles</button>
    <button mat-button routerLink="/drivers">Drivers</button>
    <button mat-button routerLink="/signin" *ngIf="!isAuthenticated">Sign In</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/vehicles">Vehicles</button>
  <button mat-menu-item routerLink="/drivers">Drivers</button>
  <button mat-button routerLink="/signin" *ngIf="!isAuthenticated">Sign In</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>

<router-outlet></router-outlet>

<!-- <button mat-button color="primary" (click)="signIn()">Sign in</button> -->